name: ci

on:
  push:
    branches: [master]
  release:
    types: [created]
  pull_request:
    branches: [master]

permissions: read-all

jobs:
  build:
    uses: chgl/.github/.github/workflows/standard-build.yaml@89b6f442c3120f78e8dfdb90143ba80f281641a2 # v1.11.5
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
      actions: read
      security-events: write
    with:
      # explicitly lowercase the repo name
      image: "ghcr.io/chgl/magnifhir"
      enable-build-test-layer: true
      enable-upload-test-image: false
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    uses: chgl/.github/.github/workflows/standard-lint.yaml@89b6f442c3120f78e8dfdb90143ba80f281641a2 # v1.11.5
    permissions:
      contents: read
      pull-requests: write
      issues: write
      security-events: write
      actions: read
    with:
      codeql-languages: '["csharp"]'
      enable-codeql: true
      enable-validate-gradle-wrapper: false
      enable-verify-base-image-signature: false
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
